*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 50% 20%;
}
.child1{
    background: #000;
}
.child2{
    background: red;
    grid-column: 2;
    grid-row: 1 / 4;
}
.child3{
    background: GREEN;
}
.child4{
    background: blue;
}
.top{
    height: 100%;
    background-color: crimson;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}
.topLeft{
    background-color: yellow;
}
.topRight{
    background-color: pink;
}