@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: none; /* Hides the default cursor */
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
#main nav{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vmax;
}
#main .makes{
    color: rgb(7, 155, 7);
}

#main nav h1{
    font-family: "Black Han Sans", sans-serif;
    color: #6B6B6B;
    font-size: 4vmax;
    padding-top: 0.8vmax;
}
#main nav img{
    height: 5.5vmax;
}
#main .mainCenter{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main .mainCenter h2{
    font-size: 4vmax;
    line-height: 3.8vmax;
    font-weight: 550;
    align-self: center;
    justify-self: center;
}
#main .mainCenter :nth-child(2){
    padding-bottom: 5vmax;
}
#main .mainBottom{
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1vmax;
}

#main .mainBottom p{
    font-size: 1.3vmax;
    font-weight: 600;
    color: #6B6B6B;
}
#main .mainBottom :nth-child(2){
    font-size: 3.5vmax;
    padding-top: 1.5vmax;
    color: #6B6B6B;
}

/* LANDING PAGE SECTION complete */




/* ABOUT */
#aboutMe{
    max-height: 100%;
    width: 100%;
    padding-top: 10vmax;
    position: relative;
}
#aboutMe .aboutMeHead img{
    border-radius: 50%;
}
#aboutMe .aboutMeHead i{
    font-size: 4vmax;
    z-index: -1;
    position: relative; /* Absolute positioning */
    top: -9.5vmax; /* Align to the top */
    left: 3.5vmax;
    transform: translateY(-50%);
}#aboutMe .aboutMeHead img{
    height: 12vmax;
}
#aboutMe .aboutMeHead{
    display: flex;
    align-items: center;
    justify-content: center;
}
#aboutMe .aboutMeHead .aboutName{
    border-left:2px solid #6B6B6B;
    margin-left: 3vmax;
}
#aboutMe .aboutMeHead .aboutName h2{
    font-size: 4vmax;
    padding-left: 2vmax;
}
#aboutMe .aboutMeHead .aboutName :nth-child(2){
    border-top: 0.6vmax solid black;
    margin: 0 0 -1vmax 2vmax;
}
#aboutMeContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5vmax;
    margin-left: 25vmax;
    margin-top: 4vmax;
}
#aboutMeContent .about{
    color: black;
    font-weight: 600;
    width: 8vmax;
    margin-right: 1vmax;
}
#aboutMeContent .block p{
    color: black;
}
#aboutMeContent .block{
    display: flex;
    margin-bottom: 1vmax;

}
#aboutMeContent .green{
    color: green !important;
}
#aboutMe .aboutBottom{
    align-self: center;
}
#aboutMe #aboutMeContent .aboutDollor{
    color: #6B6B6B;
    font-weight: 300;
}
#aboutMe .aboutBottom ion-icon{
    font-size: 3.5vmax;
    color: #6B6B6B;
    margin-top: 5vmax;
    margin-left: -11vmax;
    align-self: center;
    justify-self: center;
}
/* ABOUT ends */


/* TECH STACK starts */
#techStack{
    height: 100%;
    width: 100%;
}
#techStack .green{
    color: green !important;
}
#techStack .techStackHead{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vmax;
}
#techStack .techStackHead h2{
    font-size: 3.5vmax;
}

#techStack .stackBox{
    margin: 8vmax 0 0 8vmax;
}
#techStack .stackBox i,ion-icon{
    font-size: 5vmax;
    margin-left: 2.5vmax;
}
#techStack .stackBox .br{
    height: 40vmax;
    margin-left: 5vmax;
    border-left: 2px solid black;
}

#techStack .stackBox .br .frontend{
    padding-top:2vmax;
    border-bottom: 2px solid black;
    width: fit-content;
}
#techStack .stackBox .br h2{
    font-size: 1.5vmax;
    padding-top: 2vmax;
    align-self: center;
    justify-self: flex-end;
}
/* TECH STACK ends */



/* PROJECTS  starts */
#projects{
    min-height: 100%;
    width: 100%;
}
#projects .green{
    color: green;
}
#projects .projectHead{
    display: flex;
    align-items: center;
    justify-content: center;
}
#projects .projectHead h2{
    font-size: 3.5vmax;
}
#projects .projectContent{
    display: flex;
    margin: 5vmax 8vmax 0 8vmax;
}
#projects .projectContent .projectInfo{
    margin: 0.5vmax 4vmax;
    width: 40vmax;
}
#projects .projectContent .projectInfo p{
    font-size: 1.4vmax;
}
#projects .projectContent video{
    height: 16vmax;
    width: auto;
    border-radius: 10px;
}
/* PROJETS ends */


/* CONNECT WITH ME */
#connectWithMe{
    height: 100%;
    width: 100%;
}
#connectWithMe :nth-child(1){
    font-size: 3.5vmax;
    text-align: center;
    padding: 3vmax 0;
}

#connectWithMe .connect .b1 ion-icon{
    margin-top: 5vmax;
    font-size: 20vmax;
    rotate: 135deg;
    border-radius: 20px;
}
#connectWithMe .green{
    color: green;
}
#connectWithMe .connect .b2{
    text-align: center;
    padding: 2vmax 0 0 8vmax;
}
#connectWithMe .connect{
    display: flex;
}
#connectWithMe .connect .b2 .cLinks{
    padding-top: 1vmax;
    justify-self: flex-start;
    display: flex;
}
#connectWithMe .connect .b2 .cLinks ion-icon{
    padding: 0;
}
#connectWithMe .connect .b2 .cLinks a{
    font-size: 2vmax;
    padding-left: 2vmax;
    padding-top: 1vmax;
    justify-self: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media (max-width:700px) {
    #main nav h1{
        font-size: 5vmax;
        padding-top: 1vmax;
    }
    #main .mainCenter h2{
        line-height: 4.5vmax;
    }
    #main .mainCenter :nth-child(2){
        padding-bottom: 10vmax;
    }
    #main .mainBottom p{
        text-align: center;
        margin-bottom: 1vw;
    }
    /* LANDING PAGE responsiveness done! */


    /* ABOUT responsiveness starts */
    #aboutMe #aboutMeContent{
        margin-left: 2vmax;
    }
    #aboutMe #aboutMeContent :nth-child(1) :nth-child(2){
        margin-left: 1vmax;
    }
    #aboutMe .aboutBottom ion-icon{
        margin-left: 0;
    }
    /* ABOUT  responsiveness ends */


    /* TECH STACK responsiveness */
    #techStack .stackBox{
        margin: 8vmax 0 0 -0.5vmax;
    }
    /* TECH STACK ends */


    /* PROJECT responsiveness */
    #projects .projectContent{
        padding-top: 6vmax;
    }
    #projects .projectContent{
        flex-direction: column;
        margin: 0.5vmax 3vmax;
    }
    #projects .projectContent video{
        padding-bottom: 2vmax;
    }


    /* CONNECT WITH ME responsive */

    #connectWithMe .connect{
        flex-direction: column;
    }

    #connectWithMe .connect .b2{
        padding: 2vmax;
    }
    #connectWithMe .connect .b2 .cLinks a{
        padding: 0;
        justify-self: flex-end;
    }
}