*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 50% 20%;
}


/* TOP WING */
.top{
    /* background: #fff; */
    padding: 2vw 1vw 0 4vw;
    height: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}
.top .topLeft{
    height: 1vw;
    width: 1vw;
    background: #000;
    rotate: 45deg;
}
.top .topRight{
    justify-self: flex-end;
}
.top .topRight li{
    padding: 0.1vw;
    list-style: none;
    text-align: right;
    font-size: 1.3vmax;
}
.top .topRight a{
    text-decoration: none;
    color: #00000076;
}
.top .topRight .active{
    color: orangered;
}
/* TOP WING ends */



/* RIGHT WING */
.right{
    /* background: red; */
    grid-column: 2;
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right bottom;
    /* border-radius: 8px; */
}
/* RIGHT WING ends */

/* MIDDLE WING */
.middle{
    padding-left: 5vw;
}
.middle h1{
    font-size: 4.4vw;
    text-transform: uppercase;
}
.middle :nth-child(1){
    padding-left: 9vw;
    color:orangered;
}
.middle :nth-child(2){
    padding-left: 20vw;
    margin-bottom: 1.5vw;
    color: orangered;
}

.middle :nth-child(4){
    padding-left: 16vw;
}
.middle :nth-child(5){
    padding-left: 23.5vw;
}
/* MIDDLE WING ends */



/* BOTTOM  WING */
.bottom{
    padding: 4vw;
    align-self: flex-end;
}
.bottom p{
    font-size: 1vw;
}
.bottom .dollor{
    color: green;
}
.bottom .pink{
    color: rgb(162, 0, 168);
}
/* BOTTOM WIND ends */




/* RESPONSIVE DESIGN */
@media (max-width:700px) {
    main{
        grid-template-columns: 100%;
        grid-template-rows: 10% 40% 10% 40%;
    }

    /* TOP  WING RESPONSIVE*/
    .top{
        padding: 1.5vh 1vh 0 2vh;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;
    }
    .top .topLeft{
        height: 1.5vh;
        width: 1.5vh;
    }
    
    .top .topRight li{
        padding: 0.2vh;
        font-size: 2vh;
        text-align: center;
        display: inline;
    }
    .top .topRight{
        justify-self: center;
        padding-right: 5vh;
        margin-top: 6vh;
    }
    /* TOP WING  RESPONSIVE ends */


    /* RIGHT WING responsive */
    .right{
        background: red;
        grid-column: 1;
        grid-row: 4;
    }
    .right img{
        object-position: 40% 40%;
    }
    /* RIGHT WING responsive done! */


    /* MIDDLE WING responsive */
    .middle{
        margin-top: 10vh;
        justify-self: center;
    }
    .middle h1{
        font-size: 5vh;
    }
    .middle :nth-child(1){
        padding-left: 2vh;
    }
    .middle :nth-child(2){
        padding-left: 14.5vh;
        margin-bottom: 3vh;
    }
    .middle :nth-child(3){
        text-align: left;
    }
    .middle :nth-child(4){
        padding-left: 7.5vh;
        text-align: left;
    }
    .middle :nth-child(5){
        padding-left: 7.5vh;
    }
    /* MIDDLE  WING responsive done! */

    /* BOTTOM  WING responsive */
    .bottom{
        grid-row: 3;
    }
    .bottom p{
        font-size: 1.5vh
    }
    /* BOTTOM WING  responsive done! */
}